BASE_URL=https://www.saucedemo.com/
SKIP_BASE_URL_HEALTHCHECK=false
BASE_URL_HEALTHCHECK_RETRIES=3
BASE_URL_HEALTHCHECK_BACKOFF_MS=2000
GLOBAL_TIMEOUT_MS=600000
TEST_TIMEOUT_MS=30000
EXPECT_TIMEOUT_MS=5000
